.logIn {
    width: 400px;
    width: 400px;
    margin-top: 20vh;
    margin-left: 200px;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.500);
    padding-top: 100px;
    
}


.logIn .txt-box {
    height: 35px;
    width: 300px;
    
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    
}

.logIn label {
    font-size: 30px;
    font-weight: 600;
    color: white;
 
}



.login-btn {
    margin-top: 20px;
    height: 35px;
    width: 90px;
    background-color: rgb(33, 179, 11);
    border: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: rgb(4, 210, 76);
    cursor: pointer;
}